:root {
    --primary-color: rgb(11, 78, 179);
    --gray: #e5e5e5;
    --gray2: #808080;
    --blue: #2183dd;
    --green: #009900;
    --white: #ffffff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}







/* Progressbar */
.progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 4rem;
}

.progressbar::before,
.progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 5px;
    width: 100%;
    background-color: var(--gray);
    z-index: -1;
}

.progress {
    background-color: var(--green);
    width: 0%;
    transition: 0.3s;
}

.progress-step {
    width: 1.5rem;
    height: 1.5rem;
    /* background-color: var(--gray); */
    background-color: white;
    border-radius: 50%;
    border: 2px solid var(--gray2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-step::before {
    counter-increment: step;
    content: counter(step);
    /* content: "\f00c"; */
}

.progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #666;
}

.progress-step-active {
    background-color: var(--green);
    color: #f3f3f3;
}

/* Form */
.form {
    /* width: clamp(320px, 30%, 430px); */
    width: 500px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 0.35rem;
    padding: 1.5rem;
}


/* Button */
.btns-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.btn {
    padding: 0.75rem;
    display: block;
    text-decoration: none;
    background-color: var(--green);
    color: #f3f3f3;
    text-align: center;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--green);
}
