<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://use.fontawesome.com/c47bc38e87.js"></script>
    <link
      href="https://use.fontawesome.com/c47bc38e87.css"
      media="all"
      rel="stylesheet"
    />
    <title>Registraion Form</title>
    <link rel="stylesheet" href="progressBar.css">
  </head>
  <body>
    <form action="#" class="form">
      <h1 class="text-center">Registration Form</h1>
      <!-- Progress bar -->
      <div class="progressbar">
        <div class="progress" id="progress"></div>

        <div class="progress-step progress-step-active" data-title="Intro"></div>
        <div class="progress-step" data-title="Contact"></div>
        <div class="progress-step" data-title="ID"></div>
        <div class="progress-step" data-title="Password"></div>
        <div class="progress-step" data-title="Password"></div>
        <div class="progress-step" data-title="Password"></div>
      </div>
    </form>
    <div class="btns-group">
      <a href="#" class="btn btn-prev">Previous</a>
      <a href="#" class="btn btn-next">Next</a>
    </div>
    <script src="progressBar.js"></script>
  </body>
</html>
