input[type="range"] {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none; 
    /* creating a custom design */
    width: 100%;
    cursor: pointer;
    outline: none;
    /*  slider progress trick  */
    overflow: hidden;
    /* border-radius: 16px; */
    position: relative;
  }
  
  /* Track: webkit browsers */
  input[type="range"]::-webkit-slider-runnable-track {
    height: 50px;
    background: #ccc;
    z-index: 1;
    /* border-radius: 16px; */
  }
  
  /* Track: Mozilla Firefox */
  input[type="range"]::-moz-range-track {
    height: 15px;
    background: #ccc;
    border-radius: 16px;
  }
  
  /* Thumb: webkit */
  input[type="range"]::-webkit-slider-thumb {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none; 
    /* creating a custom design */
    height: 50px;
    width: 15px;
    /* background-color: #fff; */
    /* border-radius: 50%; */
    /* border: 2px solid #f50; */
    /*  slider progress trick  */
    box-shadow: -407px 0 0 400px green;
    background-image: url("./slider_thumb.png");
    z-index: 2000;
    position: relative;
    background-position: -9px;
    background-repeat: no-repeat;
    background-size: 20px;

  }
  
  
  /* Thumb: Firefox */
  input[type="range"]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #f50;
    /*  slider progress trick  */
    box-shadow: -407px 0 0 400px #f50;
  }
  
  
  /*=============
  Aesthetics 
  =========================*/
  
  body {
    font-family: system-ui;
  }
  
  h1 {
    color: #4b4949; 
    text-align: center;
  }
  
  .wrapper {
    color: #4b4949; 
    background: #f50;
    max-width: 400px;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
  .range {
    display: flex;
    align-items: center;
    max-width: 500px;
    height: 4rem;
    width: 80%;
    background: #fff;
    padding: 0px 10px;
  }
  
  